---
layout: base
---

<section id="home">
  <div class="logo">
    <a href="/" title="Project 00">
      <img src="/gfx/00_blackonwhite.png"
          alt="00 Logo"
          width="150"
      /></a>
  </div>
  <div class="intro">
    {{ content }}
  </div>
</section>

<section id="subsidiaries">
  <div class="row">
    {% for subsidiary in site.categories.subsidiaries reversed %}
      <div class="col-sm-6">
        {% include subsidiary.partial.html %}
      </div>
    {% endfor %}
  </div>
</section>

<section id="contact">
  <p>
    <a href="https://maps.google.com/?q=80%20Haymarket&sll=51.5079033,-0.1317818">
      80 Haymarket<br />
      London SW1Y 4TE, UK.</a>
  </p>
</section>
