---
layout: base
---

<section id="home">
  <div class="logo">
    <a href="/" title="Project 00">
      <img src="/gfx/00_blackonwhite.png"
          alt="00 Logo"
          width="150"
      /></a>
  </div>
  <div class="intro">
    {{ content }}
  </div>
</section>

<hr />

<section id="subsidiaries">
  <div class="row">
    {% for subsidiary in site.categories.subsidiaries reversed %}
      <div class="col-sm-6">
        {% include subsidiary.partial.html %}
      </div>
    {% endfor %}
  </div>
</section>

<hr />

<section id="contact">
  <div class="row">
    <div class="col-sm-6">
      <p class="row-title">
        Project 00
      </p>
      <p>
        1st Floor, New Zealand House<br />
        80 Haymarket<br />
        London SW1Y 4TE<br />
        UK.
      </p>
      <p>
        Tel: 020 7739 2230<br />
        Email:
        <a href="mailto:info@project00.cc?subject=Website%20Enquiry">
          info@project00.cc</a><br />
        <br />
      </p>
    </div>
    <div class="col-sm-6">
      <a href="https://maps.google.com/?q=80%20Haymarket&sll=51.5079033,-0.1317818">
        <img src="https://maps.googleapis.com/maps/api/staticmap?center=51.5079033,-0.1317818&zoom=16&size=640x380&sensor=false&markers=51.5079033,-0.1317818&key=AIzaSyC1dG69-ozxabWy5UcVdqWInRFSuB-QR2E" width="100%" />
      </a>
    </div>
  </div>
  <div class="row">
    <br />
    <br />
  </div>
</section>
